*.iml
.kotlin
.gradle
**/build/
**/release/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
release.keystore
**/proxy-api-client-certificate-private-key.pem
**/proxy-api-client-certificate.pem
**/proxy-api-server-certificate.jks
**/proxy-api-*.pubkey