<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withFormattedMessage>true</withFormattedMessage>
            <withMessage>false</withMessage>
            <withArguments>false</withArguments>
            <withContext>false</withContext>
            <withSequenceNumber>false</withSequenceNumber>
        </encoder>
    </appender>
    <root level="${KTOR_LOG_LEVEL:-debug}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
